@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&family=Roboto&display=swap");
nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  min-width: 100%;
  background-color: rgba(158, 151, 151, 0.4);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Roboto";
  z-index: 15;
}

nav .left {
  z-index: 15;
  padding-left: 3%;
}

nav .left img {
  width: 300px;
}

nav .right {
  z-index: 15;
  padding-right: 3%;
}

nav .right .nav_links {
  list-style: none;
}

nav .right .nav_links li {
  display: inline-block;
  padding: 0 20px;
}

nav .right .nav_links li a {
  color: #FFFFFF;
  text-decoration: none;
}

nav .right .nav_links li a:hover {
  text-decoration: underline;
}

nav:hover {
  background-color: rgba(158, 151, 151, 0.7);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  z-index: 15;
}

.allspace {
  position: absolute;
  min-width: 100%;
  top: 0;
  z-index: 2;
}

.withoutn {
  min-width: 100%;
  min-height: 92vh;
}

.showcase {
  z-index: 10;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  color: #FFFFFF;
}

.showcase .video-container {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.showcase .video-container video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showcase .video-container:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.showcase header {
  z-index: 10;
  color: #FFFFFF;
  font-family: "Montserrat", Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.showcase header .titlesAndTime {
  margin: 50px auto;
}

.showcase header .titlesAndTime .titles {
  color: #FFFFFF;
  text-align: center;
}

.showcase header .titlesAndTime .titles span {
  display: inline-block;
  white-space: nowrap;
  font-size: 3.5rem;
  font-weight: 800;
  font-family: "Montserrat";
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.showcase header .titlesAndTime .titles span sup {
  font-size: 3rem;
  text-transform: lowercase;
}

@media screen and (max-width: 992px) {
  .showcase header .titlesAndTime .titles span {
    font-size: 3rem;
  }
  .showcase header .titlesAndTime .titles span sup {
    font-size: 2.5rem;
  }
}

.showcase header .titlesAndTime .titles h2 {
  margin-bottom: 30px;
  font-size: small;
}

.showcase header .titlesAndTime .titles h1.firstT {
  margin-bottom: 20px;
  font-weight: 100;
  font-size: 25px;
}

.showcase header .titlesAndTime .titles h1.secendT {
  font-size: 600;
  font-size: 25px;
}

.showcase header .titlesAndTime table {
  margin: 20px auto 0;
  border-collapse: collapse;
}

.showcase header .titlesAndTime table tr th {
  font-size: 4.2rem;
  font-weight: 100;
  padding: 0 30px;
}

@media screen and (max-width: 992px) {
  .showcase header .titlesAndTime table tr th {
    font-size: 2rem;
  }
}

.showcase header .titlesAndTime table tr td {
  font-size: 1rem;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .showcase header .titlesAndTime table tr td {
    font-size: 1rem;
  }
}

.showcase header .titlesAndTime .callToAction {
  display: block;
  margin-top: 60px;
  text-align: center;
}

.showcase header .titlesAndTime .callToAction .callToActionRegister {
  background-color: #0072bc;
  margin-right: 20px;
  padding: 14px;
  border-radius: 25px;
  border: 1px solid white;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}

.showcase header .titlesAndTime .callToAction .callToActionRegister:hover {
  background-color: #0063a3;
}

.showcase header .titlesAndTime .callToAction .callToActionRead {
  padding: 14px;
  border-radius: 25px;
  border: 1px solid white;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}

.showcase header .titlesAndTime .callToAction .callToActionRead:hover {
  color: #0072bc;
  background-color: #ffffff;
}

.main-one {
  padding-top: 30px;
  font-size: large;
  background: linear-gradient(45deg, #63AA8D, #13B7D3, #1D71B8, #A25DA2);
}

.main-one p {
  color: #FFFFFF;
  font-size: 1.3rem;
  text-align: justify;
  padding: 30px;
}

.main-one img {
  max-width: 300px;
  float: left;
  padding-right: 30px;
  border-radius: 5%;
}

.main-two {
  margin: 100px;
  padding: 10px;
  border-radius: 1%;
  background: linear-gradient(45deg, #63AA8D, #13B7D3, #1D71B8, #A25DA2);
  color: #FFFFFF;
  font-family: "Roboto";
}

.main-two h2, .main-two h3 {
  text-align: center;
}

.closedList {
  display: none;
}

.reservation {
  margin: 0 10%;
  font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.reservation .titleA {
  text-align: center;
  margin: 30px 0;
}

.reservation .civilite {
  background: linear-gradient(45deg, #63AA8D, #13B7D3, #1D71B8, #A25DA2);
  border-radius: 5px;
  padding-left: 15px;
  padding-bottom: 15px;
  color: white;
}

.reservation .info {
  background: linear-gradient(45deg, #63AA8D, #13B7D3, #1D71B8, #A25DA2);
  border-radius: 5px;
}

.reservation .procucts {
  background: linear-gradient(45deg, #63AA8D, #13B7D3, #1D71B8, #A25DA2);
  border-radius: 5px;
  padding-left: 15px;
  padding-bottom: 15px;
  color: white;
}

.reservation .other {
  background: linear-gradient(45deg, #63AA8D, #13B7D3, #1D71B8, #A25DA2);
  border-radius: 5px;
  color: white;
  padding-bottom: 15px;
}

.reservation .adress {
  padding-bottom: 15px;
}

.reservation .sum {
  background: linear-gradient(45deg, #63AA8D, #13B7D3, #1D71B8, #A25DA2);
  border-radius: 5px;
  color: white;
  margin: 20px;
}

/* @import 'inscription'; */
/*# sourceMappingURL=style.css.map */