.hero{
    position: relative;
    background:rgba(0, 0, 0, 0.664);
    color: white;
    overflow: hidden;
    min-height: 100vh;
}
#videosBG {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -5;
}
/* .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #c316da;
  mix-blend-mode: overlay;
  z-index:6;
} */

nav ul{
    display: flex;
    align-items: center;

}
nav ul li{
    flex: 1 0 25%;
    list-style: none;
    text-align: center;
}
nav ul li a{
    color: white;
    text-decoration: none;
}

.titles{
    background: rgba(24, 214, 72, 0.5);
    align-items: center;
}
.titles > *{
    text-align: center;
    color: rgb(255, 255, 255);
}

/*------------------------*/
.navigationBar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
    font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 7px;
}
/*------------------------*/
.navigationBar .left{
    /*border: solid 1px black;*/
    flex: 0 0 50%;
}

.navigationBar .left img{
    width: 200px;
}

/*-------------------------*/
.navigationBar .right{
    display: flex;
    flex: 0 0 50%;
    justify-content: space-between;
}
.navigationBar .right a{
    color: white;
    text-decoration: none;
}

.bottom-border {
    position: absolute;
    bottom:3px;
    height: 2px;
    background: rgba(255,255,255,0.3);
    width: 100%;
}
