@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&family=Roboto&display=swap");
.callto, .showcase header .titlesAndTime .callToAction .callToActionRegister, .showcase header .titlesAndTime .callToAction .callToActionRead {
  text-align: center;
  background-color: #0072bc;
  margin-right: 20px;
  padding: 14px;
  border-radius: 25px;
  border: 1px solid white;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  font-family: "Roboto";
}

.callto:hover, .showcase header .titlesAndTime .callToAction .callToActionRegister:hover, .showcase header .titlesAndTime .callToAction .callToActionRead:hover {
  background-color: #0063a3;
  color: white;
}

@media only screen and (max-width: 700px) {
  .callto, .showcase header .titlesAndTime .callToAction .callToActionRegister, .showcase header .titlesAndTime .callToAction .callToActionRead {
    margin: 20px 0;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  min-width: 100%;
  background-color: #13B7D3;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Roboto";
  z-index: 15;
}

nav .left {
  z-index: 15;
  padding-left: 3%;
}

nav .left img {
  width: 300px;
}

nav .smalImage {
  display: none;
}

nav .right {
  z-index: 15;
  padding-right: 3%;
}

nav .right .navLinks {
  list-style: none;
}

nav .right .navLinks li {
  display: inline-block;
  padding: 0 20px;
}

nav .right .navLinks li a {
  color: #FFFFFF;
  text-decoration: none;
}

nav .right .navLinks li a:hover {
  text-decoration: underline;
}

nav:hover {
  background-color: #1D71B8;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  z-index: 15;
}

@media only screen and (min-width: 1025px) {
  .navLinksBis {
    display: none;
  }
}

@media only screen and (max-width: 1025px) {
  nav {
    position: fixed;
    top: 0;
    z-index: 22;
  }
  nav .navLinks {
    display: none;
  }
  nav .burger {
    z-index: 20;
    display: inline-block;
    margin-right: 10%;
    position: relative;
    height: 30px;
  }
  nav .burger span {
    position: absolute;
    display: block;
    width: 40px;
    height: 5px;
    background-color: #FFFFFF;
    top: 50%;
    transform: translateY(140%);
  }
  nav .burger span::before, nav .burger span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #FFFFFF;
  }
  nav .burger span::before {
    transform: translateY(-14px);
  }
  nav .burger span::after {
    transform: translateY(14px);
  }
  .mediaQ {
    display: block;
    transform: translate(-50%, -50%) scale(0);
  }
  .mediaNav {
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .7s ease;
    list-style: none;
  }
  .mediaNav ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
  }
  .mediaNav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 1.5rem;
  }
  .rectangle {
    display: block;
    transform: translate(-50%, -50%) scale(0);
    transition: transform .5s ease;
  }
  .openRectangle {
    position: fixed;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform .5s ease;
    z-index: 16;
    min-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(45deg, #63AA8D, #13B7D3, #1D71B8, #A25DA2);
    opacity: 0.85;
  }
}

@media only screen and (max-width: 700px) {
  nav .left {
    display: none;
  }
  nav .left img {
    display: none;
  }
  nav .smalImage {
    display: block;
    margin-left: 5%;
  }
}

.allspace {
  position: absolute;
  min-width: 100%;
  top: 0;
  z-index: 2;
}

.withoutn {
  min-width: 100%;
  min-height: 92vh;
}

@media only screen and (max-width: 1025px) {
  .withoutn {
    min-width: 100%;
    min-height: 79vh;
  }
}

.showcase {
  z-index: 10;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  color: #FFFFFF;
}

.showcase .video-container {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.showcase .video-container video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showcase .video-container:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.showcase header {
  z-index: 10;
  color: #FFFFFF;
  font-family: "Montserrat", Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.showcase header .titlesAndTime {
  margin: 50px auto;
}

.showcase header .titlesAndTime .titles {
  color: #FFFFFF;
  text-align: center;
}

.showcase header .titlesAndTime .titles span {
  display: inline-block;
  white-space: nowrap;
  font-size: 3.5rem;
  font-weight: 800;
  font-family: "Montserrat";
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.showcase header .titlesAndTime .titles span sup {
  font-size: 3rem;
  text-transform: lowercase;
}

@media only screen and (max-width: 881px) {
  .showcase header .titlesAndTime .titles span {
    font-size: 1.5rem;
  }
  .showcase header .titlesAndTime .titles span sup {
    font-size: 1.5rem;
  }
}

.showcase header .titlesAndTime .titles h2 {
  margin-bottom: 30px;
  font-size: small;
}

.showcase header .titlesAndTime .titles h1.firstT {
  margin-bottom: 20px;
  font-weight: 100;
  font-size: 25px;
}

.showcase header .titlesAndTime .titles h1.secendT {
  font-size: 600;
  font-size: 25px;
}

.showcase header .titlesAndTime table {
  margin: 20px auto 0;
  border-collapse: collapse;
}

.showcase header .titlesAndTime table tr th {
  font-size: 4.2rem;
  font-weight: 100;
  padding: 0 30px;
}

@media only screen and (max-width: 881px) {
  .showcase header .titlesAndTime table tr th {
    font-size: 2rem;
  }
}

.showcase header .titlesAndTime table tr td {
  font-size: 1rem;
  text-align: center;
}

@media only screen and (max-width: 881px) {
  .showcase header .titlesAndTime table tr td {
    font-size: 1rem;
  }
}

.showcase header .titlesAndTime .callToAction {
  margin-top: 60px;
}

.showcase header .titlesAndTime .callToAction .callToActionRead {
  background-color: transparent;
}

.showcase header .titlesAndTime .callToAction .callToActionRead:hover {
  color: #0072bc;
  background-color: #ffffff;
}

@media only screen and (max-width: 700px) {
  .showcase {
    padding: 0;
  }
  .showcase .video-container video {
    display: none;
  }
  header {
    font-weight: 200;
  }
  header span {
    display: inline-block;
    white-space: nowrap;
    font-size: 2rem;
    font-weight: 800;
    font-family: "Montserrat";
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  header span sup {
    font-size: 1.5rem;
    text-transform: lowercase;
  }
  header h2 {
    margin-bottom: 30px 0px;
    font-size: smaller;
  }
  header h1.firstT {
    margin-bottom: 20px;
    font-weight: 60;
    font-size: 20px;
  }
  header h1.secendT {
    font-size: 300;
    font-size: 15px;
  }
  header table {
    margin: 20px auto 0;
    border-collapse: collapse;
  }
  header table tr th {
    font-size: 2.1rem;
    font-weight: 100;
    padding: 0 20px;
    font-size: 2rem;
  }
  header table tr td {
    font-size: 1rem;
    text-align: center;
    font-size: 1rem;
  }
}

.main-one {
  padding-top: 30px;
  font-size: large;
  background: #13B7D3;
}

.main-one .presentation {
  color: #FFFFFF;
  font-size: 1.3rem;
  text-align: justify;
  padding: 30px;
}

.main-one img {
  max-width: 300px;
  float: left;
  padding-right: 30px;
}

.main-two {
  margin: 10px;
  padding: 10px;
  background: #1D71B8;
  color: #FFFFFF;
  font-family: "Roboto";
}

.main-two #programme {
  text-align: center;
}

.main-two h2 {
  padding-left: 10px;
}

.main-two .accordion {
  width: 100%;
  padding: 0;
  background: linear-gradient(45deg, #63AA8D, #13B7D3, #1D71B8, #A25DA2);
  border-radius: 3px;
  overflow: hidden;
}

.main-two .accordion ul {
  margin: 0;
  padding: 0;
}

.main-two .accordion li {
  display: block;
}

.main-two .accordion label {
  cursor: pointer;
  display: block;
  overflow: hidden;
  background: linear-gradient(45deg, #63AA8D, #13B7D3, #1D71B8, #A25DA2);
  border-bottom: 1px solid white;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2);
}

.main-two .accordion label:hover {
  background: #13B7D3;
}

.main-two .accordion input[type=checkbox] {
  display: none;
}

.main-two .accordion .sub > li {
  cursor: pointer;
  overflow: hidden;
  height: 0;
  margin: 0 0 0 30px;
  opacity: 0;
  font-size: 0.875em;
  transition: all 0.25s ease-in-out;
  box-shadow: inset 0 -1px 0 white;
}

.main-two .accordion .sub > li:hover {
  padding-left: 1.5em;
  background: #13B7D3;
}

.main-two .accordion input:checked + .sub > li {
  padding: 1rem 1rem;
  height: 100%;
  opacity: 1;
  background: #1D71B8;
}

.main-three {
  background-color: #13B7D3;
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  align-items: center;
}

.main-three p {
  color: #FFFFFF;
  font-family: "Roboto";
  font-size: 40px;
}

@media only screen and (max-width: 881px) {
  .main-three {
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }
  .main-three p {
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 30px;
  }
}

@media only screen and (max-width: 700px) {
  .main-three {
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }
  .main-three p {
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 30px;
  }
}

.reservation {
  margin: 0 10%;
  font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.reservation .titleA {
  text-align: center;
  margin: 30px 0;
}

.reservation .civilite {
  background: linear-gradient(45deg, #63AA8D, #13B7D3, #1D71B8, #A25DA2);
  border-radius: 5px;
  padding-left: 15px;
  padding-bottom: 15px;
  color: white;
}

.reservation .info {
  background: linear-gradient(45deg, #63AA8D, #13B7D3, #1D71B8, #A25DA2);
  border-radius: 5px;
}

.reservation .procucts {
  background: linear-gradient(45deg, #63AA8D, #13B7D3, #1D71B8, #A25DA2);
  border-radius: 5px;
  padding-left: 15px;
  padding-bottom: 15px;
  color: white;
}

.reservation .other {
  background: linear-gradient(45deg, #63AA8D, #13B7D3, #1D71B8, #A25DA2);
  border-radius: 5px;
  color: white;
  padding-bottom: 15px;
}

.reservation .adress {
  padding-bottom: 15px;
}

.reservation .sum {
  background: linear-gradient(45deg, #63AA8D, #13B7D3, #1D71B8, #A25DA2);
  border-radius: 5px;
  color: white;
  margin: 20px;
}

.AffectParag {
  color: #FFFFFF;
  font-family: "Roboto";
  background: #13B7D3;
  border-radius: 5px;
  padding: 10px;
  margin: 16px 0;
}

.styleAffect {
  background-color: #13B7D3;
  color: #FFFFFF;
  border-radius: 5px;
  font-family: "Roboto";
}

.radi {
  max-width: 200px;
}

.radi .imageCercle {
  margin: 10px;
  clip-path: circle(50%);
}

.padd {
  padding-left: 100px;
}

.cgvHeader {
  margin: 10px 10%;
  background-color: #13B7D3;
  border-radius: 2px;
  font-family: "Roboto";
  color: #FFFFFF;
  padding: 20px;
}

.cgvHeader h2 {
  font-family: "Montserrat";
}

.cgvbody {
  margin: 10px 10%;
  background-color: #13B7D3;
  border-radius: 2px;
  font-family: "Roboto";
  color: #FFFFFF;
  padding: 20px;
}

.cgvbody h3 {
  font-family: "Montserrat";
}

.msg {
  color: #13B7D3;
  text-align: center;
}

.allRecap {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #13B7D3;
}

.allRecap .recap {
  margin: 10px 0;
  color: #FFFFFF;
  padding: 10px;
  min-width: 50%;
}

.allRecap .payment {
  color: #FFFFFF;
  background-color: #13B7D3;
  min-width: 50%;
}

.space {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 255;
}

.partOne {
  padding: 30px 30px 1px 30px;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #13B7D3;
  font-family: "Roboto";
  font-size: 23px;
}

.partOne .footerleft img {
  max-width: 300px;
}

.partOne .footermiddel ul {
  list-style: none;
  font-size: 20px;
}

.partOne .footermiddel ul li a {
  text-decoration: none;
  color: #13B7D3;
}

.partOne .footermiddel ul li:hover {
  text-decoration: underline;
}

.partOne .footerright ul {
  font-size: 20px;
  text-decoration: none;
  list-style-type: none;
}

.partTwo hr {
  color: #13B7D3;
}

.partTwo .last {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.partTwo .last p {
  color: #13B7D3;
}

.partTwo .last a {
  text-decoration: none;
  color: #13B7D3;
}

.partTwo .last a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1025px) {
  .partOne {
    display: flex;
    flex-direction: column;
  }
  .partOne .footerleft img {
    max-width: 250px;
  }
  .footermiddel ul {
    font-size: 10px;
  }
  .footerright ul {
    font-size: 10px;
  }
  .partTwo hr {
    color: #13B7D3;
  }
  .partTwo .last {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .partTwo .last p {
    color: #13B7D3;
  }
  .partTwo .last a {
    text-decoration: none;
    color: #13B7D3;
  }
  .partTwo .last a:hover {
    text-decoration: underline;
  }
}

/* @import 'inscription'; */
/*# sourceMappingURL=style.css.map */