.allspace{
    position: absolute;
    min-width: 100%;
    top: 0;
    z-index: 2;
}
.withoutn{
    min-width: 100%;
    min-height: 92vh;
    padding-bottom: 60px;
    background-color: $Bleu;
}

/////700------881px/////////
@media #{$betweenBigPhoneAndTab} {
    .withoutn {
        min-width: 100%;
        min-height: 79vh;
    }
}