.callto{
    text-align: center;
    background-color: #0072bc;
    margin-right: 20px;
    padding:14px;
    border-radius: 25px;
    border:1px solid white;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    font-family:$typoText;
    &:hover{
        background-color: #0063a3;
        color: white;
    }
}