.cgvHeader{
    margin: 10px 10%;
    background-color: $Bleu;
    border-radius: 2px;
    font-family: $typoText;
    color: $blanc;
    padding: 20px;
    h2{
        font-family: $typoTitel;
    }
}
.cgvbody{
    margin: 10px 10%;
    background-color: $Bleu;
    border-radius: 2px;
    font-family: $typoText;
    color: $blanc;
    padding: 20px;
    h3{
        font-family: $typoTitel;
    }
}