.main-one{
    padding-top: 30px;
    font-size: large;
    background:$Bleu;
    .presentation{
        color: $blanc;
        font-size: 1.3rem;
        text-align: justify;
        padding: 30px;
    }
    img{
        max-width: 300px;
        float: left;
        padding-right: 30px;
    }

}