main{
    .flexA{
        display: flex;
        p{
            margin: 0;
            padding: 100px;
            text-align: justify;
            font-size: 1.3rem;
            background-color:rgb(245,245,245);
            font-family: $typoText;
        }
        img{
            max-width: 50%;
            width: 100%;
            height: auto;
            
        }
    }
}
