.main-one{
    padding-top: 30px;
    font-size: large;
    background:$Bleu;
    .presentation{
        color: $blanc;
        font-size: 1.3rem;
        text-align: justify;
        padding: 30px;
    }
    img{
        max-width: 300px;
        float: left;
        padding-right: 30px;
    }
}

/////319------510px/////////
@media #{$betweenverysmallPhoneAndSmallPhone} {
    .main-one{
        padding-top:100px;
    }
}

/////510------700px/////////
@media #{$betweenSmallPhoneAndBigPhone} {
    .main-one{
        padding-top:150px;
    }
}

/////700------881px/////////
@media #{$betweenBigPhoneAndTab} {
    .main-one{
        margin-top:0;
        padding-top:100px;
        img{
            max-width: 150px;
            float: left;
            padding-right: 15px;
        }
    }
}

