.reservation{
    margin:0 10%;
    font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    .titleA{
        font-size: 25px;
        text-align: center;
        margin: 30px 0 ;
    }
    .civilite{
        background: $lin-grad;
        border-radius: 5px;
        padding-left: 15px;
        padding-bottom: 15px;
        color: white;
    }
    
    .info{
        background: $lin-grad;
        border-radius: 5px;
    }
    
    .procucts{
        background: $lin-grad;
        border-radius: 5px;
        padding-left: 15px;
        padding-bottom: 15px;
        color: white;
    }
    .other{
        background: $lin-grad;
        border-radius: 5px;
        color: white;
        padding-bottom: 15px;
    }
    .adress{
        padding-bottom: 15px;
    }
    .sum{
        background: $lin-grad;
        border-radius: 5px;
        color: white;
        margin: 20px;
    }
}

@media #{$small-down} {
    .reservation{
        margin:0 3%;
    }
}