@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&family=Roboto&display=swap');
$typoTitel : "Montserrat";
$typoText : "Roboto";

$noir : #1D1D1B;
$blanc : #FFFFFF;

$degrade : 45deg;
$Vert : #63AA8D;
$Bleu : #13B7D3;
$Blue-fonce :#1D71B8;
$Violet :#A25DA2;
$lin-grad :linear-gradient($degrade, $Vert, $Bleu, $Blue-fonce, $Violet );

$zero:1px;
$verysmall:319px;
$smallest:510px;
$small:700px;
$medium:881px;
$large:1025px;

$smallest-down:"only screen and (max-width:#{$smallest})";
$smallest-up:"only screen and (min-width:#{$smallest})";
$small-down:"only screen and (max-width:#{$small})";
$small-up:"only screen and (min-width:#{$small})";
$medium-down:"only screen and (max-width:#{$medium})";
$medium-up:"only screen and (min-width:#{$medium})";
$large-down:"only screen and (max-width:#{$large})";
$large-up:"only screen and (min-width:#{$large})";



$betweenTabAndPC:"(min-width: #{$medium}) and (max-width: #{$large})";
$betweenBigPhoneAndTab:"(min-width: #{$small}) and (max-width: #{$medium})";
$betweenSmallPhoneAndBigPhone:"(min-width: #{$smallest}) and (max-width: #{$small})";
$betweenverysmallPhoneAndSmallPhone:"(min-width: #{$verysmall}) and (max-width: #{$smallest})";
$betweeneZeroAndverysmallPhon:"(min-width: #{$zero}) and (max-width: #{$verysmall})";