@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&family=Roboto&display=swap');
$typoTitel : "Montserrat";
$typoText : "Roboto";

$noir : #1D1D1B;
$blanc : #FFFFFF;

$degrade : 45deg;
$Vert : #63AA8D;
$Bleu : #13B7D3;
$Blue-fonce :#1D71B8;
$Violet :#A25DA2;
$lin-grad :linear-gradient($degrade, $Vert, $Bleu, $Blue-fonce, $Violet );

$medium:768px;
$large:1000px;

$medium-up:"only screen and (min-width:#{$medium})";
$medium-down:"only screen and (min-width:#{$medium})";
$large-up:"only screen and (min-width:#{$large})";
$large-down:"only screen and (min-width:#{$large})";